/* палитра цветов */
/* color: #2196F3;  акцент синий*/
/* color: #212121; черный в меню, h2 */
/* color: #757575; светло черный ,для  тел, мыла,h3 */
/* color: #FFFFFF; белый текст */
/* color: rgba(255, 255, 255, 0.6); черный мыло тел подвал */
/* background: #2F303A; темный*/
/* background: #2F303A; чем мы занимаемся */
/* background: #F5F4FA; наша команда, фон на кнопках фильтра */
/* background: #E5E5E5; примеры работ */
/* background: #2F303A; body  */

body {
  color: #757575;
}

.header {
  background-color: #ffffff;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.benefits {
  background-color: #e5e5e5;
}

.benefits-img {
  background-color: #f5f4fa;
}

.title {
  color: #212121;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}
/* скрытие маркера списка */
.list {
  list-style: none;
}
/* logo */

.logo-secondary {
  color: #ffffff;
}

.logo {
  color: #2196f3;
  text-decoration: none;
}

.logo-primary {
  color: #212121;
}

/* .site-nav */
.site-nav a.link {
  color: #212121;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
  text-decoration: none;
}

/* .site-contact  */
.site-contact a.link {
  color: #757575;
  text-decoration: none;
}

.site-contact a:hover,
.site-contact a:focus {
  color: #2196f3;
  text-decoration: none;
}
